.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  background-color: var(--color-bg-arrow);
  padding: 1rem;
  cursor: pointer;
  margin-right: 2rem;

  @media only screen and (max-width: 82em) {
    display: none;
  }
}

.arrowSvg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-arrow-icon);
}
