.btn {
  all: unset;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--color-primary-1);
  color: var(--color-light-1);
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
