.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--color-header-logo);
  }

  &__error {
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--color-header-logo);
  }

  &__email {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-main-header);
  }

  &__pfp {
    position: relative;

    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 20rem;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
      border-radius: 2rem;
    }

    input[type='file'] {
      display: none;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      opacity: 0;
      transition: opacity 0.2s;

      &:hover {
        cursor: pointer;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
      }

      svg {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
      }

      &:hover {
        cursor: pointer;

        &::after {
          content: 'Choose';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }

  &__submit {
    margin-top: 2rem;
    text-align: center;
  }
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary-1);
  color: #f2f2f2;
  font-size: 1.6rem;
  border-radius: 3px;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.errorbox {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 4rem;
  height: 4rem;
  fill: var(--color-header-logo);
}

.errorbox__message {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-header-logo);
}

.errorbox__link {
  font-size: 3rem;
  color: var(--color-primary-1);
  text-decoration: underline;
  transition: color 0.2s;

  &:hover {
    color: #ccc;
  }
}
