.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  flex-direction: column;
  gap: 2rem;

  button {
    all: unset;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--color-primary-1);
    color: var(--color-btn-text);
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s;
    will-change: box-shadow;
    text-align: center;
    width: 100%;

    &:hover {
      box-shadow: 0 0.5rem 1.5rem rgba(#4541aa, 0.4);
    }
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;

  &__hour {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    input {
      width: 7rem;
      height: 7rem;
      border-radius: 2rem;
      border: 1px solid #000;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: #000;
      background-color: #fff;
      outline: none;
      padding: 1rem;
    }
  }

  &__minute {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    input {
      width: 7rem;
      height: 7rem;
      border-radius: 2rem;
      border: 1px solid #000;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: #000;
      background-color: #fff;
      outline: none;
      padding: 1rem;
    }
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
