.aside__up {
  flex-basis: 11.4%;
  width: 100%;

  display: flex;
  align-items: flex-start;

  margin-top: 1.5rem;
  transition: width 0.3s ease;
  will-change: width;

  &-icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-sidebar-icon);
    margin-bottom: 1rem;
  }

  &.close {
    flex-basis: 11.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

    transition: width 0.3s ease;
    will-change: width;
  }
}

.header__up-first {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -1rem;
}

.header__up-logo {
  color: var(--color-header-logo);
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.05rem;

  .scape {
    color: var(--color-header-logo);
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }
}
