.aside__up {
  flex-basis: 11.4%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 1.5rem;
  transition: width 250ms;
  will-change: width;

  &-icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-dark-3);
    margin-bottom: 1rem;
  }

  &.close {
    flex-basis: 11.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

    transition: width 250ms;
    will-change: width;
  }
}

.menu {
  cursor: pointer;
}
