.aside__up {
  width: 100%;

  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 12%;

  transition: width 0.3s ease;
  will-change: width;

  &-logo {
    cursor: pointer;
    color: var(--color-header-logo);
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
  }

  &-menu {
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    .icon {
      width: 100%;
      height: 100%;
      fill: var(--color-menu);
    }
  }

  &.close {
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5rem;

    transition: width 0.3s ease;
    will-change: width;
  }
}
