.aside__up {
  flex-basis: 11.4%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s;

  margin-top: 1.5rem;

  &-icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-dark-3);
    margin-bottom: 1rem;
  }
}

.menu {
  cursor: pointer;
}

.close {
  flex-basis: 11.4%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;
}
