.container {
  background: linear-gradient(180deg, #fff 0%, #e8e8f8 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 8rem;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 4rem;
    width: 50vw;
    box-shadow: 0 0 1rem rgba(#333, 0.2);
  }

  &__header {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 1rem;
  }

  &__link {
    display: flex;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: var(--color-btn-text);
      background-color: var(--color-primary-1);
      padding: 1rem 2rem;
      font-size: 1.6rem;
      margin-top: 2rem;
      border-radius: 0.5rem;

      &:first-child {
        background-color: transparent;
        color: var(--color-primary-1);
        border: 1px solid var(--color-primary-1);
      }
    }
  }
}
