.errorbox {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 4rem;
  height: 4rem;
  fill: var(--color-header-logo);
}

.upload__message {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-header-logo);
}

.upload__link {
  font-size: 3rem;
  color: var(--color-primary-1);
  text-decoration: underline;
  transition: color 0.2s;

  &:hover {
    color: #ccc;
  }
}
