/*
This is the html code:

<h1>UploadSound</h1>

<form action="submit">
  <label htmlFor="title">Title</label>
  <input type="text" name="title" id="title" />

  <label htmlFor="type">Type</label>
  <input type="text" name="type" id="type" />

  <label htmlFor="image">Image</label>
  <input type="file" name="image" id="image" accept="image/png, image/jpeg" />

  <label htmlFor="music">Music</label>
  <input type="file" name="music" id="music" accept="audio/mpeg, audio/wav" />
  <button type="submit">Submit</button>
</form>

*/

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #f2f2f2;
  }

  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #000;
  }

  button {
    padding: 0.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #000;
    cursor: pointer;
  }

  button:hover {
    background-color: #000;
    color: #f2f2f2;
  }

  button:active {
    background-color: #000;
    color: #f2f2f2;
  }

  button:focus {
    outline: none;
  }
}
