.header {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-header-logo);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 1rem;

  &__error {
    font-size: 1.4rem;
    font-weight: 500;
    color: #df3528;
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-main-header);
  }

  input[type='file'] {
    display: none;
  }

  &__input {
    font-size: 1.8rem;
    color: var(--color-input-text);
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid var(--color-input);
    height: 5rem;
    width: 100%;
    background-color: transparent;
    padding: 2.5rem 2.5rem;
    transition: border 0.2s, background-color 0.2s;

    &.error {
      border: 2px solid rgba(#df3528, 0.8);

      &:focus {
        border: 2px solid rgba(#df3528, 0.8);
      }
    }

    &:focus {
      outline: none;
      border: 2px solid var(--color-primary-1);
    }
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: var(--color-primary-1);
    color: #f2f2f2;
    font-size: 1.6rem;
    border-radius: 3px;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 2rem;
  }
}

.imageLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  border-radius: 3px;
  border: 2px dashed var(--color-input);
  background-color: transparent;
  transition: all 0.2s;

  &.error {
    border: 2px dashed rgba(#df3528, 0.8);

    &:focus {
      border: 2px solid rgba(#df3528, 0.8);
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px dashed var(--color-primary-1);
  }

  svg {
    width: 10rem;
    height: 10rem;
    color: var(--color-primary-1);
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-main-header);
  }

  svg {
    width: 4rem;
    height: 4rem;
    fill: limegreen;
  }
}

.musicLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  border-radius: 3px;
  border: 2px dashed var(--color-input);
  background-color: transparent;
  transition: all 0.2s;

  &.error {
    border: 2px dashed rgba(#df3528, 0.8);

    &:focus {
      border: 2px solid rgba(#df3528, 0.8);
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px dashed var(--color-primary-1);
  }

  svg {
    width: 4rem;
    height: 4rem;
    fill: limegreen;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-main-header);
  }
}
