.aside {
  position: fixed;

  background-color: var(--color-light-2);
  height: 100vh;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 4rem;
  transition: all 0.1s ease-in;
}

.asideClosed {
  position: fixed;

  background-color: var(--color-light-2);
  height: 100vh;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-in;
  padding: 2rem 2rem;
}
