.aside {
  position: fixed;
  width: 30rem;

  z-index: 1000;

  background: var(--color-bg-sidebar);

  height: 100svh;
  font-size: 2rem;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 3rem;
  transition: background 0.3s;
  will-change: background;

  @media only screen and (max-width: 82em) {
    display: none;
  }
}

.asideClosed {
  position: fixed;

  background: var(--color-bg-sidebar);

  width: 10rem;
  height: 100vh;

  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: background 0.3s;
  will-change: background;

  padding: 2rem;
}
