.aside {
  position: fixed;

  background-color: var(--color-light-2);
  width: 32rem;
  height: 100vh;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 4rem;
}

.active {
  background: var(--color-light-4);
  border-radius: 1rem;
}
