.header__down {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-bg-arrow);
    color: var(--color-btn-text);
    border-radius: 1rem;
    padding: 0.8rem 2.2rem;
    cursor: pointer;
    position: relative;

    &:first-child {
      background-color: #fff;
      color: #333;
    }

    &--last {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 1rem;
        background: linear-gradient(
          90deg,
          transparent 0,
          rgba(0, 0, 0, 0.02) 20%,
          rgba(0, 0, 0, 0.1) 40%,
          rgba(0, 0, 0, 0.2) 60%,
          rgb(21, 21, 23) 75%
        );
      }
    }
  }
}
