.header__down {
  display: flex;
  gap: 1.5rem;

  &-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-bg-arrow);
    color: var(--color-btn-text);
    border-radius: 1rem;
    padding: .8rem 2rem;
    cursor: pointer;

    &:first-child {
      background-color: #f2f2f2;
      color: #333;
    }
  }
}
