.header__up-volume {
  all: unset;
  width: 15rem;
  height: 0.5rem;
  background: var(--color-dark-3);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  border-radius: 1rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 2.2rem;
    background: var(--color-primary-1);
    cursor: pointer;

    border-radius: 1rem;
  }

  &::-moz-range-thumb {
    width: 3rem;
    height: 2.2rem;
    border: none;
    background: var(--color-primary-1);
    cursor: pointer;
  }

  &::-moz-range-progress {
    background: var(--color-primary-1);
  }
}

.header__up-end {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex: 1;
}

.header__up-icon {
  width: 2.8rem;
  height: 2.8rem;
  /* background-color: var(--color-light-3); */
  fill: var(--color-dark-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__up-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-basis: auto;
}
