.header__up-logo {
  color: var(--color-header-logo);
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -0.05rem;

  .scape {
    color: var(--color-header-logo);
    font-size: 3.2rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
  }
}
