.header__up-logo {
  font-size: 3rem;
  color: var(--color-header-logo);
  font-weight: 500;
  letter-spacing: 0.025rem;

  .scape {
    color: var(--color-header-logo);
    font-size: 3rem;
    letter-spacing: 0.025rem;
    font-weight: 600;
  }
}
