.header__down {
  &-breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &-item {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-crumb-1);

    &:last-of-type {
      font-size: 2rem;
      font-weight: 500;

      color: var(--color-crumb-2);
    }
  }

  &-chevron {
    width: 2rem;
    height: 2rem;
    fill: var(--color-chevron);
  }
}

.chevron-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
