.header__up-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.header__up-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-header-icon);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__up-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-basis: auto;
}

.moon {
  cursor: pointer;
  border: none;
  outline: transparent;
  background: transparent;

  svg {
    pointer-events: none;
  }

  @media only screen and (max-width: 40em) {
    display: none;
  }
}

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__pfp {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--color-bg-arrow);
    border: 3px solid var(--color-bg-arrow);

    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
      border-radius: 1rem;
    }
  }

  svg {
    pointer-events: none;
    width: 2.5rem;
    height: 2.5rem;

    fill: var(--color-icon);
  }

  &__dropdown {
    position: absolute;
    background-color: var(--color-bg-arrow);
    color: var(--color-header-icon);
    top: 6rem;
    right: 0;
    width: 15rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    transform: translateY(-1rem) translateX(1rem) scale(0.8);
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &-item {
      cursor: pointer;
      text-decoration: none;
      color: var(--color-nav-active);
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      padding: 1rem;

      text-align: center;
      font-size: 1.6rem;
      border-radius: 0 0 1rem 1rem;

      &:not(:last-child) {
        border-radius: 1rem 1rem 0 0;
        border-bottom: 1px solid #99999913;
      }

      &:nth-child(2) {
        border-radius: 0;
      }

      &:hover {
        background-color: var(--color-bg-nav-active);
      }
    }

    &-icon {
      margin-left: 1rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      fill: var(--color-header-icon);
      vertical-align: middle;
    }
  }

  &:hover {
    .user__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) translateX(0) scale(1);
    }
  }
}

.header__up-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__up-auth-btn {
  width: 2.5rem;
  height: 2.5rem;
  fill: #f2f2f2;
}

.favorites {
  cursor: pointer;

  @media only screen and (max-width: 40em) {
    display: none;
  }
}

.header__up-volume {
  all: unset;
  margin-right: 2rem;

  width: 14rem;
  height: 0.5rem;
  background: var(--color-vol-track);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  border-radius: 1rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 2.2rem;
    background: var(--color-primary-1);
    cursor: pointer;

    border-radius: 1rem;
  }

  &::-moz-range-thumb {
    width: 3rem;
    height: 2.2rem;
    border: none;
    background: var(--color-primary-1);
    cursor: pointer;
  }

  &::-moz-range-progress {
    background: var(--color-primary-1);
  }
}
