.section {
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  flex: 1;
  padding: 2rem 4rem;

  margin-left: 30rem;
  transition: all 0.2s ease-out;
  will-change: margin-left;

  @media only screen and (max-width: 82em) {
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    flex: 1;
    padding: 2rem 6rem;

    margin-left: 0rem;
    transition: all 0.2s ease;
    will-change: margin-left;
  }

  @media only screen and (max-width: 56.25em) {
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    flex: 1;
    padding: 2rem 4rem;

    margin-left: 0rem;
    transition: all 0.2s ease;
    will-change: margin-left;
  }
}

.close {
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  flex: 1;
  padding: 2rem 6rem;

  margin-left: 12rem;
  transition: all 0.2s ease;
  will-change: margin-left;
}
