.aside__link {
  font-size: 1.6rem;
  text-decoration: none;

  color: var(--color-dark-2);
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  &-svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-dark-2);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.aside__list {
  all: unset;
  padding: 1rem 2rem;
}


.aside__list:nth-child(5) {
  margin-bottom: 3rem;

}

.aside__list:nth-child(10) {
  margin-top: 8rem;
}
