.aside__list {
  all: unset;

  a {
    font-size: 1.6rem;
    text-decoration: none;

    color: var(--color-dark-2);
    font-weight: 500;

    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;

    svg {
      width: 2.1rem;
      height: 2.1rem;
      fill: var(--color-dark-2);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.close {
  width: 2.1rem;
  height: 2.1rem;
  fill: var(--color-dark-2);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}

.aside__list:nth-of-type(4) {
  margin-bottom: 3rem;
}

.aside__list:nth-of-type(8) {
  margin-top: 3rem;
}

.aside__list:nth-child(11) {
  margin-bottom: 3rem;
}

.active {
  background: var(--color-light-4);
  padding: 1rem;
  border-radius: 1rem;
  transition: background 300ms;
  will-change: background;
}
