.container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100svh;
  width: 100vw;

  &__back-btn {
    padding: 1rem 1.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 30;
    cursor: pointer;

    svg {
      width: 4rem;
      height: 4rem;
      fill: var(--color-arrow-icon);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--color-bg);
    filter: blur(0.1rem);
    opacity: 0.05;

    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    z-index: 10;

    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      svg {
        width: 3rem;
        height: 3rem;
        fill: var(--color-arrow-icon);
      }
    }
  }

  &__progress {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25%;
    height: 2rem;
    z-index: 10;
    background: #333;
    border-radius: 2rem;

    &--bar {
      width: 3%;
      height: 100%;

      background: #f2f2f246;
      border-radius: 2rem 2rem 2rem 2rem;
    }

    &--time {
      font-size: 1.6rem;
      color: #f2f2f2;
      font-weight: 500;
    }
  }
}
