.main__sound {
  border-radius: 2rem;
  width: 100%;
  max-width: 35rem;
  height: 35rem;
  max-height: 21rem;
  position: relative;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    border-radius: 2rem;
  }
}

.box {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 30%;

  border-radius: 0 0 2rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-main-box);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.play {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;

  svg {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-main-icon);
    cursor: pointer;
  }
}

.text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-main-text);
  // text-shadow: 0 0 0.5rem var(--color-dark-1);
}
