.main__sounds {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2.5rem;
  margin-top: 2rem;

  list-style: none;

  @media screen and (max-width: 82em) {
    grid-gap: 2rem;
  }

  @media screen and (max-width: 60em) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (max-width: 40em) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.5rem;
  }
}

.box {
  border-radius: 2rem;
  width: 100%;
  max-width: 36rem;
  height: 35rem;
  max-height: 21rem;
  position: relative;

  border: none;

  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-skel-1);
  }

  100% {
    background-color: var(--color-skel-2);
  }
}

.main__info {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.main__text {
  min-width: 80%;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1.5rem;

  h3 {
    color: var(--color-nav-active);
    font-size: 1.6rem;
    font-weight: 500;
    animation: skeleton-loading 1s linear infinite alternate;
    width: 100%;
    height: 1.6rem;

    border-radius: 0.5rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-nav-link);
    animation: skeleton-loading 1s linear infinite alternate;

    width: 60%;
    height: 1.4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
}

.main__pfp {
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  animation: skeleton-loading 1s linear infinite alternate;
}
