.main__sound {
  // background-color: var(--color-secondary-1);
  border-radius: 2rem;
  width: 100%;
  max-width: 38rem;
  height: 35rem;
  max-height: 20rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    border-radius: 2rem;
    background-position: center;
  }
}

.box {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 30%;

  border-radius: 0 0 2rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  background-color: rgba(#333, 0.3);
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(4rem);


}

.play {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;

  svg {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-light-2);
    cursor: pointer;
  }
}

.text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-light-2);
  text-shadow: 0 0 1rem var(--color-dark-2);
}
