.header__down {


  &-breadcrumb {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-dark-4);
  }

  &-item {
    font-size: 1.8rem;
    color: var(--color-dark-4);

    &:last-of-type {
      font-size: 1.6rem;
      color: var(--color-dark-2);
    }
  }

  &-chevron {
    width: 2rem;
    height: 2rem;
    fill: var(--color-dark-4);
  }
}

.chevron-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-chevron {
  width: 2rem;
  height: 2rem;
  fill: var(--color-dark-2);
}
