:root body.light {
  --color-primary-1: #5950d6;

  --color-bg: #f0f2f7;
  --color-bg-sidebar: #e8e8f8;
  --color-sidebar-icon: #333;

  --color-icon: #333;
  --color-header-icon: #333;
  --color-header-logo: #333;
  --color-bg-arrow: #e0e0ec;
  --color-arrow-icon: #333;
  --color-btn-text: #fffdfa;

  --color-vol-track: #444444;

  --color-crumb-1: #62626e;
  --color-crumb-2: #333;
  --color-chevron: #444;

  --color-nav-link: #424242;
  --color-nav-header: #4c4c55;
  --color-bg-nav-active: #c9c9ca;
  --color-nav-active: #232323;

  --color-main-header: #62626e;
  --color-main-icon: #f0f2f7;
  --color-main-box: hsla(0, 0%, 20%, 0.55);
  --color-main-text: #f0f2f7;

  --color-secondary-1: #67a4ff;
  --color-tertiary-1: #cf435d;
}

:root body.dark {
  --color-primary-1: #5950d6;
  // --color-primary-1: #548adb;

  --color-bg: #151517;
  --color-bg-sidebar: #18181a;
  --color-sidebar-icon: #999;

  --color-icon: #fff;
  --color-header-icon: #f2f2f2;
  --color-header-logo: #f1f1f2;
  --color-bg-arrow: #1d1d1f;
  --color-arrow-icon: #f5f5f5;
  --color-btn-text: #f2f2f2;

  --color-vol-track: #444444;

  --color-crumb-1: #8f8f91;
  --color-crumb-2: #ffffff;
  --color-chevron: #8f8f91;

  --color-nav-link: #8a8d92;
  --color-nav-header: #6c6c6e;
  --color-bg-nav-active: #262628;
  --color-nav-active: #f2f2f2;

  --color-main-header: #999;
  --color-main-icon: #f0f2f7;
  // --color-main-box: hsla(240, 11%, 11%, 0.5);
  --color-main-box: hsla(240, 2%, 8%, 0.4);
  --color-main-text: #fff;

  --color-secondary-1: #67a4ff;
  --color-tertiary-1: #cf435d;
}

// :root body.dark {
//   //   --color-primary-1: #9695b7;
//   --color-primary-1: #664aff;

//   --color-bg: #111115;
//   --color-bg-sidebar: #0c0c0f;
//   --color-sidebar-icon: #f2f2f2;

//   --color-icon: #575866;
//   --color-header-icon: #e2e2e3;
//   --color-header-logo: #f2f2f2;
//   --color-bg-arrow: #34343d;
//   --color-arrow-icon: #f5f5f5;
//   --color-btn-text: #fff;

//   --color-vol-track: #444444;

//   --color-crumb-1: #8f8f91;
//   --color-crumb-2: #ffffff;
//   --color-chevron: #8f8f91;

//   --color-nav-link: #9393a5;
//   --color-nav-header: #767678;
//   --color-bg-nav-active: #191920;
//   --color-nav-active: #f2f2f2;

//   --color-main-header: #8f8f91;
//   --color-main-icon: #f0f2f7;
//   --color-main-box: hsla(240, 11%, 11%, 0.7);
//   --color-main-text: #fff;

//   --color-secondary-1: #67a4ff;
//   --color-tertiary-1: #cf435d;
// }

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 56.25em) {
    font-size: 55%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 50%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  pointer-events: none;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  background: var(--color-bg);
  transition: background 0.2s;
}

body {
  font-family: 'Eudoxus Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
