:root {
  --color-primary-1: #664aff;

  --color-light-1: #fffdfa;
  --color-light-2: #f0f2f7;
  --color-light-3: #e8e8f8;
  --color-light-4: #e0e0ec;

  --color-dark-1: #08080a;
  --color-dark-2: #333;
  --color-dark-3: #444444;
  --color-dark-4: #868696;
  --color-dark-5: #62626e;

  --color-secondary-1: #67a4ff;
  --color-tertiary-1: #cf435d;
}

// :root {
//   --color-primary-1: #9695b7;

//   --color-light-1: #17171b;
//   --color-light-2: #1c1c1f;
//   --color-light-3: #2F2F34;
//   --color-light-4: #2F2F34;

//   --color-dark-1:  #D5D5D6;
//   --color-dark-2: #D5D5D6;
//   --color-dark-3: #8a8787;
//   --color-dark-4: #D5D5D6;
//   --color-dark-5: #333;

//   --color-secondary-1: #67a4ff;
//   --color-tertiary-1: #cf435d;
// }

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

svg {
  pointer-events: none;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-light-1);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--color-dark-1);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  overflow: scroll;
}
