:root body.light {
  --color-primary-1: #5950d6;

  --color-bg: #fffdf9;
  --color-bg-sidebar: #f0f2f7;
  --color-sidebar-icon: #333;

  --color-icon: #333;
  --color-header-icon: #333;
  --color-header-logo: #333;
  --color-bg-arrow: #e0e0ec;
  --color-arrow-icon: #333;
  --color-btn-text: #fffdfa;

  --color-vol-track: #444444;

  --color-crumb-1: #62626e;
  --color-crumb-2: #333;
  --color-chevron: #444;

  --color-nav-link: #424242;
  --color-nav-header: #4c4c55;
  --color-bg-nav-active: #dcdce8;
  --color-nav-active: #232323;

  --color-main-header: #62626e;
  --color-main-icon: #f0f2f7;
  --color-main-box: hsla(0, 0%, 20%, 0.1);
  --color-main-text: #f0f2f7;

  --color-secondary-1: #67a4ff;
  --color-tertiary-1: #cf435d;

  --color-menu: #333;
  --color-artist: #333;
  --color-ccc: #444;
  --color-input: hsla(240, 3%, 6%, 0.5);
  --color-input-text: #333;

  --color-skel-1: #e6e7e9;
  --color-skel-2: #e0e0ec;
}

:root body.dark {
  --color-primary-1: #6461f8;
  // --color-primary-1: #548adb;

  --color-bg: #151517;
  --color-bg-sidebar: #18181a;
  --color-sidebar-icon: #999;

  --color-icon: #fff;
  --color-header-icon: #f2f2f2;
  --color-header-logo: #f1f1f2;
  --color-bg-arrow: #1d1d1f;
  --color-arrow-icon: #f5f5f5;
  --color-btn-text: #f2f2f2;

  --color-vol-track: #444444;

  --color-crumb-1: #8f8f91;
  --color-crumb-2: #ffffff;
  --color-chevron: #8f8f91;

  --color-nav-link: #8a8d92;
  --color-nav-header: #6c6c6e;
  --color-bg-nav-active: #262628;
  --color-nav-active: #f2f2f2;

  --color-main-header: #999;
  --color-main-icon: #f0f2f7;
  // --color-main-box: hsla(240, 11%, 11%, 0.5);
  --color-main-box: hsla(240, 2%, 8%, 0.35);
  --color-main-text: #fff;

  --color-secondary-1: #67a4ff;
  --color-tertiary-1: #cf435d;

  --color-menu: #aaa;
  --color-artist: #ccc;
  --color-ccc: #ccc;
  --color-input: hsla(216, 11%, 63%, 0.2);
  --color-input-text: #a6a6ad;

  --color-skel-1: #26262865;
  --color-skel-2: #262628f3;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 82em) {
    font-size: 60%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 58%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  pointer-events: none;
}

.wrapper {
  display: flex;
  min-height: 100svh;
  background: var(--color-bg);
  transition: background 0.2s;
}

body {
  font-family: 'Eudoxus Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-primary-1);
  color: #e2e2e2;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-arrow) var(--color-bg);
}

body::-webkit-scrollbar {
  width: 0.9rem;

  &-track {
    background: var(--color-bg);
  }

  &-thumb {
    background-color: var(--color-bg-arrow);
    border-radius: 0.3rem;
  }

  &-thumb:hover {
    background-color: var(--color-bg-arrow);
  }

  &-thumb:active {
    background-color: var(--color-bg-arrow);
  }

  &-thumb:window-inactive {
    background-color: var(--color-bg-arrow);
  }

  &-thumb:window-inactive:hover {
    background-color: var(--color-bg-arrow);
  }
}
