:root {
  --color-primary-1: #664AFF;

  --color-light-1: #FFFDFA;
  --color-light-2: #F0F2F7;
  --color-light-3: #E8E8F8;
  --color-light-4: #E0E0EC;

  --color-dark-1: #08080A;
  --color-dark-2: #333;
  --color-dark-3: #444444;
  --color-dark-4: #868696;
  --color-dark-5: #62626e;

  --color-secondary-1: #67A4FF;
  --color-tertiary-1: #CF435D;
}

* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--color-dark-1);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

svg {
  pointer-events: none;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  flex: 1;
  padding: 2rem 4rem;

  margin-left: 32rem;
}

.header {
  background-color: var(--color-light-1);
  font-size: 2rem;
  flex-basis: 15rem;
  width: 100%;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__up {
  width: 100%;
  flex-basis: 45%;

  display: flex;
  align-items: center;
}

.header__up-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-basis: auto;
}

.header__up-end {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex: 1;
}

.btn {
  all: unset;
}

.header__btn {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--color-primary-1);
  color: var(--color-light-1);
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}


.header__up-icon {
  width: 2.8rem;
  height: 2.8rem;
  /* background-color: var(--color-light-3); */
  fill: var();

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__up-logo {
  font-size: 3.2rem;
  color: var(--color-dark-2);
  font-weight: 500;
}

.scape {
  color: var(--color-dark-2);
  font-size: 3.2rem;
  font-weight: 700;
}


.header__up-volume {
  /* customize the volume slider input */
  all: unset;
  width: 20rem;
  height: 0.5rem;
  background: var(--color-dark-3);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.header__up-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 2.2rem;
  background: var(--color-primary-1);
  cursor: pointer;

  border-radius: 1rem;
}

.header__up-volume::-moz-range-thumb {
  width: 3rem;
  height: 2.2rem;
  border: none;
  background: var(--color-primary-1);
  cursor: pointer;
}

.header__up-volume::-moz-range-progress {
  background: var(--color-primary-1);
}


.main {
  background-color: var(--color-light-1);
  flex: 1;
}

.header__down {
  display: flex;
  gap: 1rem;
  align-items: center;

  flex: 1;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  background-color: var(--color-light-3);
  padding: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.header__down-arrow {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-dark-2);
}

.header__down-breadcrumb {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-dark-4);
}

.header__down-item {
  font-size: 1.8rem;
  color: var(--color-dark-4);
}

.header__down-item:last-of-type {
  font-size: 1.8rem;
  color: var(--color-dark-2);
}

.chevron-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__down-chevron {
  width: 2rem;
  height: 2rem;

  fill: var(--color-dark-4);
}

.last-chevron {
  fill: var(--color-dark-2);
}

.aside {
  position: fixed;

  background-color: var(--color-light-2);
  width: 32rem;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 4rem;

}

.aside__up {
  flex-basis: 11.4%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.aside__middle {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aside__up-icon {
  width: 4rem;
  height: 4rem;
  fill: var(--color-dark-2);
  margin-bottom: 1rem;
}

.aside__lists {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside__list {
  all: unset;
  padding: 1rem 2rem;

}

.active {
  background: var(--color-light-4);
  border-radius: 1rem;
}

.aside__list:nth-child(5) {
  margin-bottom: 3rem;

}

.aside__list:nth-child(10) {
  margin-top: 8rem;
}



.aside__link {
  font-size: 1.6rem;
  text-decoration: none;

  color: var(--color-dark-2);
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.aside__link-svg {
  width: 2rem;
  height: 2rem;
  fill: var(--color-dark-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.aside__header {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-dark-4);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main__titlebox {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.main__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-dark-5);
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.main__sounds {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;

}

.main__sound {
  background-color: var(--color-secondary-1);
  border-radius: 2rem;
  width: 100%;
  max-width: 38rem;
  height: 35rem;
  max-height: 20rem;
  position: relative;
}

.main__sound img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  background-position: center;
}

.main__sound-2 {
  background-color: var(--color-tertiary-1);
}

.box {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  backdrop-filter: blur(20px);
  border-radius: 0 0 2rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.play {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-light-2);
  text-shadow: 0 0 1rem var(--color-dark-2)33334;

}

.play svg {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--color-light-2);
  cursor: pointer;
}

.heart {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 1.5rem;

}

.heart svg {
  width: 2rem;
  height: 2rem;
  fill: var(--color-light-2);
}

/* Scrollbar */

/* body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-2) var(--color-light-2);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-light-2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-2);
  border-radius: 1rem;
  border: 0.3rem solid var(--color-light-2);
} */

